<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Inicio de Sesión</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container">
        <h1 class="inic">Inicio de Sesión</h1>

        <form method="post" action="">
            <label >Usuario</label>
            <input type="text" name="Usuario_name" required >

            <label >Contraseña</label>
            <input type="password" name="Contrasena_Usuario" required >

            <a href="{{ url_for('recuperar_contraseña') }}" class="recup">Recuperar Contraseña</a>
            <button type="submit" class="Acept">Ingresar</button>
            
    </form>
    </div>
</body>
</html>