<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Administrador</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Css/bootstrap.min.css')}}">
</head>
<body>
    <nav class="menu d-flex justify-content-between">
        <ul class="nav">
        <strong>
            <li class="nav-item"><a href="/RegistroUsuario">Registar Usuario</a></li>
            <li class="nav-item"><a href="/MostrarUsuario">Ver Usuarios</a></li>
            <li class="nav-item"><a href="/RegistroTareas">Registrar Tarea</a></li>
            <li class="nav-item"><a href="/MostrarTareas">Mostrar Tareas</a></li>
            <li class="nav-item"><a href="/salir">Cerrar Sesión</a></li>
        </strong>
    </ul>
    <form class="form-inline" action="/buscar_tarea" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="busqueda" placeholder="Buscar tarea">
        </div>
        <div class="input-group-append">
            <button type="submit" class="btb btn-danger">Buscar</button>
        </div>
    </form>
    </nav>
    <div class="d-flex justify-content-end"></div>
    <main>
        <h1 class="Bien">
            <br><br>
        {% set mostrar_bienvenida = True %}
            {% if request.path != '/' %}
                {% set mostrar_bienvenida = False %}
            {% endif %}

        <div {% if not mostrar_bienvenida %} style="display: none;" {% endif %}>
        {% if Genero == 'Masculino' %}
            Bienvenido,
        {% else %}
            Bienvenida,
        {% endif %}
        {{Rol}} {{ nombre_usuario }} {{ apellido_usuario }} </h1>
        </div>
         {% if mostrar_usuarios %}
         <br><br>
         <center>
            
        <h2> Usuarios Registrados</h2>
        </center>
        <br>
        <table>
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Genero</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Rol</th>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario[0]}}</td>
                    <td>{{usuario[1]}}</td>
                    <td>{{usuario[2]}}</td>
                    <td>{{usuario[3]}}</td>
                    <td>{{usuario[4]}}</td>
                    <td>{{usuario[5]}}</td>
                    <td>{{usuario[6]}}</td>
                    <td class="Acciones">
                        <a href="{{ url_for('eliminar_usuario',Id_Usuarios=usuario[0]) }}">Eliminar</a>
                        <a href="{{ url_for('editar_usuario',Id_Usuarios=usuario[0]) }}">Editar </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% set mostrar_bienvenida= False %}
        
        {% if mostrar_tareasAd %}
        <center>
            <br><br>
        <h2> Tareas Registradas</h2>
        <br>
        </center>
        <table>
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>Estado</th>
                <th>Usuario</th>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{tarea[0]}}</td>
                    <td>{{tarea[1]}}</td>
                    <td>{{tarea[2]}}</td>
                    <td>{{tarea[3]}}</td>
                    <td>{{tarea[4]}}</td>
                    <td>{{tarea[5]}}</td>
                    <td class="Acciones">
                        <a href="{{ url_for('eliminar_tarea',id_Tareas=tarea[0]) }}">Eliminar</a>
                        <a href="{{ url_for('editar_tarea',id_Tareas=tarea[0]) }}">Editar </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
    </main>
</body>
</html>